
<div class="options-header">
    <div class="button-box">
        <a class="btn btn-default" ng-click="refresh()" data-toggle="tooltip" title="Fetch fresh data from the server">Refresh</a>
    </div>
    <div class="input-group">
        <span class="input-group-addon"><input type="checkbox" ng-model="autoRefresh"></span>
        <input type="text" class="form-control" ng-model="autoRefreshSeconds" style="width:50px"> Automatically refresh after {{autoRefreshSeconds}} seconds
    </div>
</div>

<fieldset class="scalar-group">
    <legend>CPU</legend>
    <table class="table table-condensed table-striped">
        <tr>
            <th class="scalar-name"></th>
            <th class="scalar-value"></th>
            <th class="scalar-value" style="width: 80px; vertical-align: middle">available</th>
            <th class="scalar-value" style="width: 80px;">app<br>kernel</th>
            <th class="scalar-value" style="width: 80px;">app<br>user</th>
            <th class="scalar-value" style="width: 80px">other<br>procs</th>
        </tr>
        <tr><td class="scalar-name">CPU</td><td class="scalar-value" id="cpu"></td>
            <td class="scalar-value"> {{scalars['cpu:available'].formattedValue}}%</td>
            <td class="scalar-value">{{scalars['cpu:self-kernel'].formattedValue}}% <div class="inline-color progress-bar-info"> </div></td>
            <td class="scalar-value">{{scalars['cpu:self-user'].formattedValue}}% <div class="inline-color progress-bar-success"> </div></td>
            <td class="scalar-value">{{otherCpuPercent()}}% <div class="inline-color progress-bar-warning"> </div></td>
        </tr>
        <tr ng-repeat="freq in cpuFreq"><td></td><td class="scalar-value">{{freq.mhz}} MHz</td><td class="scalar-value">{{freq.formattedValue}} CPUs</td><td></td><td></td><td></td></tr>
    </table>
</fieldset>

<fieldset class="scalar-group">
    <legend>Network</legend>
    <div id="network"></div>
</fieldset>

<fieldset class="scalar-group">
    <legend>System Load</legend>
    <table class="table table-condensed table-striped">
        <tr><td class="scalar-name">1 Minute</td><td class="scalar-value" id="load1"></td></tr>
        <tr><td class="scalar-name">5 Minutes</td><td class="scalar-value" id="load5"></td></tr>
        <tr><td class="scalar-name">15 Minutes</td><td class="scalar-value" id="load15"></td></tr>
    </table>
</fieldset>

<fieldset class="scalar-group">
    <legend>Disk</legend>
    <div id="disk"></div>
</fieldset>

<fieldset class="scalar-group">
    <legend>JVM Memory</legend>
    <div id="jvm-mem"></div>
</fieldset>

<fieldset class="scalar-group">
    <legend>Other</legend>
    <table class="table table-condensed table-striped">
        <tr ng-repeat="s in miscScalars"><td class="scalar-name">{{s.name}}</td><td class="scalar-value">{{s.formattedValue}}</td></tr>
    </table>

</fieldset>

