
<div class="button-segment">
    <div class="button-box">
        <a class="btn btn-default" ng-click="refresh()" data-toggle="tooltip" title="Fetch fresh data from the server">Refresh</a>
    </div>
</div>

<fieldset class="scalar-group">
    <legend>System Load</legend>
    <table class="table table-condensed table-striped">
        <tr><td class="scalar-name">1 Minute</td><td class="scalar-value" id="load1"></td></tr>
        <tr><td class="scalar-name">5 Minutes</td><td class="scalar-value" id="load5"></td></tr>
        <tr><td class="scalar-name">15 Minutes</td><td class="scalar-value" id="load15"></td></tr>
    </table>
</fieldset>

<fieldset class="scalar-group">
    <legend>JVM Memory</legend>
    <div id="mem"></div>
</fieldset>

<fieldset class="scalar-group">
    <legend>Other</legend>
    <table class="table table-condensed table-striped">
        <tr ng-repeat="s in miscScalars"><td class="scalar-name">{{s.name}}</td><td class="scalar-value">{{s.formattedValue}}</td></tr>
    </table>

</fieldset>

