<!doctype html>
<html ng-app="ASysMonApp" ng-controller="ASysMonCtrl">
<head>
    <title ng-bind="title"></title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="_$_asysmon_$_/static/css/asysmon.css">
    <link rel="stylesheet" type="text/css" href="_$_asysmon_$_/static/css/bootstrap-3.0.2.min.css">
    <link rel="stylesheet" type="text/css" href="_$_asysmon_$_/static/css/bootstrap-theme-3.0.2.min.css">
    <script src="_$_asysmon_$_/static/lib/jquery-1.10.2.min.js"></script>
    <script src="_$_asysmon_$_/static/lib/angular-1.2.3.js"></script>
    <script src="_$_asysmon_$_/static/lib/angular-route-1.2.3.js"></script>
    <script src="_$_asysmon_$_/static/lib/FileSaver.js"></script>
    <script src="_$_asysmon_$_/static/lib/bootstrap-3.0.2.min.js"></script>

    <script src="_$_asysmon_$_/static/lib/jquery.flot-0.8.2.js"></script>
    <script src="_$_asysmon_$_/static/lib/jquery.flot.resize-0.8.2.js"></script>
    <script src="_$_asysmon_$_/static/lib/jquery.flot.stack-0.8.2.js"></script>
    <script src="_$_asysmon_$_/static/lib/jquery.flot.time-0.8.2.js"></script>
    <script src="_$_asysmon_$_/static/lib/jquery.flot.axislabels-0.8.2.js"></script>
    <script src="_$_asysmon_$_/static/lib/jquery.flot.navigate-0.8.2.js"></script>

    <script src="_$_asysmon_$_/static/js/asysmon-app.js"></script>
    <script src="_$_asysmon_$_/static/js/ctrl-scalars.js"></script>
    <script src="_$_asysmon_$_/static/js/ctrl-aggregated.js"></script>
    <script src="_$_asysmon_$_/static/js/ctrl-threaddump.js"></script>
    <script src="_$_asysmon_$_/static/js/ctrl-memgc.js"></script>
    <script src="_$_asysmon_$_/static/js/asysmon-module.js"></script>
    <script src="_$_asysmon_$_/config.js"></script>
</head>
<body>

<div class="container-liquid">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">A-SysMon Live Monitoring</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-inverse" role="navigation" >
        <ul class="nav navbar-nav">
            <li class="dropdown" ng-repeat="menuItem in configRaw.menuEntries">
                <ul class="dropdown-menu">
                    <li ng-repeat="pageDef in menuItem.entries"><a href="#/{{pageDef.id}}">{{pageDef.shortLabel}}</a></li>
                </ul>
                <a class="dropdown-toggle" data-toggle="dropdown">{{menuItem.label}} <b class="caret"></b></a>
            </li>
            <!--TODO class="active"-->
        </ul>
        <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li>-->
                <!--<a href="../about">About</a>-->
            <!--</li>-->
        <!--</ul>-->
    </nav>

    <h1>{{curTitle()}}</h1>

    <div ng-view></div>
</div>

</body>
</html>
