div.table-header {
  margin-top: 10px;
}

div.node-icon {
  float: left;
  width: 1em;
  text-align: center;
}

div.column-short {
  width: 40px;
  text-align: right;
  display: inline-block;
}

div.column-medium {
  width: 60px;
  text-align: right;
  display: inline-block;
}

div.column-long {
  width: 80px;
  text-align: right;
  display: inline-block;
}

div.children {
}

div.data-row {
  border-bottom: white solid 2px;
}
div:hover.data-row  {
  background: #d0d0d0;
}

div.data-row-0 {
  background: #fafafa;
}
div.data-row-1 {
  padding-left: 1em;
  background: #f6f6f6;
}
div.data-row-2 {
  padding-left: 2em;
  background: #f2f2f2;
}
div.data-row-3 {
  padding-left: 3em;
  background: #ededed;
}
div.data-row-4 {
  padding-left: 4em;
  background: #eaeaea;
}
div.data-row-5 {
  padding-left: 5em;
  background: #e6e6e6;
}
div.data-row-6 {
  padding-left: 6em;
  background: #e2e2e2;
}
div.data-row-7 {
  padding-left: 7em;
  background: #dddddd;
}
div.data-row-8 {
  padding-left: 8em;
  background: #dadada;
}
div.data-row-9 {
  padding-left: 9em;
  background: #d6d6d6;
}
div.data-row-10 {
  padding-left: 10em;
  background: #d2d2d2;
}

