html {
  font-family: sans-serif;
}

h1 {
    margin: 0px;
}

table.global-measurements {
  margin-top: 20px;
  margin-bottom: 10px;
}
tr.global-measurements {
  margin-top: 3px;
}
td.global-measurements-key {
  padding-right: 10px;
}

div.button-box {
  float: right;
  margin-top: 8px;
}

.btn {
  -moz-box-sizing: border-box;
  text-transform: none;
  font-family: inherit;
  background-image: none;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 6px 6px 6px 6px;
  -moz-user-select: none;
  text-decoration: none;
  color: rgb(51,51,51);
  background-color: rgb(245,245,245);
  border-color: rgb(173,173,173);
}

.btn:hover {
   background-color: rgb(235,235,235);
}

div.table-header {
}

div.node-icon {
  float: left;
  width: 1em;
}
div.node-icon-collapsed {
  background: url('i?res=treenode-closed.png');
  background-repeat: no-repeat;
  background-position: center;
}
div.node-icon-expanded {
  background: url('i?res=treenode-open.png');
  background-repeat: no-repeat;
    background-position: center;
}
div.node-icon-empty {
}


div.node-text {
  margin-left: 1em;
  padding-left: 1.2em;
  text-indent: -1em;
}

div.column-short {
  width: 40px;
  text-align: right;
  display: inline-block;
}

div.column-medium {
  width: 60px;
  text-align: right;
  display: inline-block;
}

div.column-long {
  width: 80px;
  text-align: right;
  display: inline-block;
}
                                                                                                                                                                  ,
div.children {
}

div div.progress-background {
  background-color: rgb(202, 255, 214);
}

div div.progress-bar {
  padding-right: 10px;
  background: url('i?res=progress-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

div.data-row-subdued {
  color: rgba(0,0,0,.6);
}
div.subdued-progress-background {
  padding-right: 10px;
}

div.data-row {
  border-bottom: white solid 2px;
}
div:hover.data-row  {
  background: #a0a0a0;
}

div.data-row-0+div.children {
    /*border-bottom: solid black 1px;*/
}

div.data-row-0 {
  /*border-top: solid black 1px;*/
  background: #f2f2f2;
}
div.data-row-1 {
  padding-left: 1em;
  background: #eaeaea;
}
div.data-row-2 {
  padding-left: 2em;
  background: #e2e2e2;
}
div.data-row-3 {
  padding-left: 3em;
  background: #dadada;
}
div.data-row-4 {
  padding-left: 4em;
  background: #d2d2d2;
}
div.data-row-5 {
  padding-left: 5em;
  background: #cacaca;
}
div.data-row-6 {
  padding-left: 6em;
  background: #c2c2c2;
}
div.data-row-7 {
  padding-left: 7em;
  background: #bababa;
}
div.data-row-8 {
  padding-left: 8em;
  background: #b2b2b2;
}
div.data-row-9 {
  padding-left: 9em;
  background: #aaaaaa;
}
div.data-row-10 {
  padding-left: 10em;
  background: #a2a2a2;
}

div.threads-header {
    margin-top: 20px;
    margin-bottom: 40px;
}
div.thread-state {
  width: 9em;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}
.thread-state-RUNNABLE {
  background: lightgreen;
}
.thread-state-WAITING, .thread-state-TIMED_WAITING {
  background: #ffff80;
}
.thread-state-BLOCKED {
  background: lightcoral;
}
.thread-state-NEW, .thread-state-TERMINATED {
  background: lightblue;
}
.thread-state-DEADLOCKED {
  background: red;
}

.stacktrace {
}
.stacktrace-native {
  color: darkblue;
  font-weight: bold;
}
.stacktrace-native-java {
  color: rgba(0,0,128,.6);
  font-weight: bold;
}
.stacktrace-no-source {
  color: rgba(0,0,0,.6);
}
.stacktrace-java {
  color: rgb(100,0,0);
}
.stacktrace-sun {
  color: rgba(100,0,0,.6);
}
