<!doctype html>
<html ng-app="ASysMonApp" ng-controller="ASysMonCtrl">
<head>
    <title>A-SysMon: Memory and Garbage Collection</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="_$_asysmon_$_/static/asysmon.css">
    <script src="_$_asysmon_$_/static/jquery-1.10.2.min.js"></script>
    <script src="_$_asysmon_$_/static/angular-1.2.3.js"></script>
    <script src="_$_asysmon_$_/static/jquery.flot-0.8.2.js"></script>
    <script src="_$_asysmon_$_/static/jquery.flot.resize-0.8.2.js"></script>
    <script src="_$_asysmon_$_/static/jquery.flot.stack-0.8.2.js"></script>
    <script src="_$_asysmon_$_/static/jquery.flot.time-0.8.2.js"></script>
    <script src="_$_asysmon_$_/static/jquery.flot.axislabels-0.8.2.js"></script>
    <script src="_$_asysmon_$_/static/jquery.flot.navigate-0.8.2.js"></script>
    <script src="_$_asysmon_$_/static/asysmon-memory.js"></script>
</head>
<body>
<h1>A-SysMon: Memory and Garbage Collection</h1>

<div class="mem-header">
    <div class='button-box'>
        <div class="btn-group">
            <a class="btn btn-img" ng-click="zoomOut()"><img src="_$_asysmon_$_/static/zoom-out.png"></a>
            <a class="btn btn-img" ng-click="zoomReset()"><img src="_$_asysmon_$_/static/zoom.png"></a>
            <a class="btn btn-img" ng-click="zoomIn()"><img src="_$_asysmon_$_/static/zoom-in.png"></a>
        </div>
        <a class='btn' ng-click='refresh()'>Refresh</a>
    </div>

    <div>
        <input type="checkbox" ng-model="showFullGcMarkers">Show Full GC markers &nbsp; &nbsp; &nbsp;
        <input type="checkbox" ng-model="showOtherGcMarkers">Show other GC markers &nbsp; &nbsp; &nbsp;
        <input type="checkbox" ng-model="showLegend">Show Legend
    </div>
    <div style="margin-top: 10px;">
        <div>Zoom:</div>
        <div class="mem-gc-zoom-container">
            <div class="mem-gc-zoom-range" style="width: {{getZoomMinPercent()}}%;"></div>
            <div class="mem-gc-zoom-range mem-gc-zoom-range-present" style="width: {{getZoomVisiblePercent()}}%;"></div>
        </div>
    </div>
</div>

<div class="mem-gc-container">
    <div id="mem-gc-placeholder" class="flot-placeholder"></div>
</div>

</body>
</html>
