<!doctype html>
<html ng-app="ASysMonApp" ng-controller="ASysMonCtrl">
<head>
    <title>A-SysMon: Memory and Garbage Collection</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href=".?res=asysmon.css">
    <script src="r?res=jquery-1.10.2.min.js"></script>
    <script src="r?res=angular-1.2.3.js"></script>
    <script src="r?res=jquery.flot-0.8.2.js"></script>
    <script src="r?res=jquery.flot.resize-0.8.2.js"></script>
    <script src="r?res=jquery.flot.stack-0.8.2.js"></script>
    <script src="r?res=jquery.flot.time-0.8.2.js"></script>
    <script src="r?res=jquery.flot.axislabels-0.8.2.js"></script>
    <script src="r?res=asysmon-memory.js"></script>
</head>
<body>
<h1>A-SysMon: Memory and Garbage Collection</h1>

<div class="mem-header">
    <div class='button-box'>
        <a class='btn' ng-click='refresh()'>Refresh</a>
    </div>

    <input type="checkbox" ng-model="showFullGcMarkers">Show Full GC markers<br>
    <input type="checkbox" ng-model="showOtherGcMarkers">Show other GC markers
</div>

<div class="mem-gc-container">
    <div id="mem-gc-placeholder" class="flot-placeholder"></div>
</div>


</body>
</html>
