<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>asysmon-minmaxavg</servlet-name>
        <servlet-class>com.ajjpj.asysmon.datasink.minmaxavg.AMinMaxAvgServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>asysmon-minmaxavg</servlet-name>
        <url-pattern>/performance/minmaxavg</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>asysmon-jdbc</servlet-name>
        <servlet-class>com.ajjpj.asysmon.datasink.jdbcreport.AJdbcReportServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>asysmon-jdbc</servlet-name>
        <url-pattern>/performance/jdbc</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>content</servlet-name>
        <servlet-class>com.ajjpj.asysmon.demo.AppServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>content</servlet-name>
        <url-pattern>content/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>asysmon-filter</filter-name>
        <filter-class>com.ajjpj.asysmon.measure.http.AHttpRequestMeasuringFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>asysmon-filter</filter-name>
        <url-pattern>/content/*</url-pattern>
    </filter-mapping>

</web-app>
